python-telegram-bot==13.11
psycopg2-binary==2.9.5
sqlalchemy==1.4.33
pandas==1.5.2
numpy==1.22.4
dbt==1.4.1
apache-airflow==2.5.0
apache-airflow[amazon]==2.5.0
apache-airflow[async]==2.5.0
apache-airflow[celery]==2.5.0
apache-airflow[cncf.kubernetes]==2.5.0
apache-airflow[crypto]==2.5.0
apache-airflow[dask]==2.5.0
apache-airflow[devel]==2.5.0
apache-airflow[doc]==2.5.0
apache-airflow[google_auth]==2.5.0
apache-airflow[http]==2.5.0
apache-airflow[kubernetes]==2.5.0
apache-airflow[ldap]==2.5.0
apache-airflow[mysql]==2.5.0
apache-airflow[postgres]==2.5.0
apache-airflow[presto]==2.5.0
apache-airflow[rabbitmq]==2.5.0
apache-airflow[redis]==2.5.0
apache-airflow[sendgrid]==2.5.0
apache-airflow[slack]==2.5.0
apache-airflow[statsd]==2.5.0
apache-airflow[vertica]==2.5.0
beautifulsoup4==4.11.1
lxml==4.9.1
requests==2.28.1
schedule==1.1.0
fastapi==0.85.1
pydantic==1.10.7
uvicorn==0.20.0
python-dotenv==0.21.0
